@import '@common';

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px 40px;
  min-height: 150px;
}

.title {
  margin-bottom: 30px;
  font-family: 'DM Serif Display';
  font-size: 25px;
}

.content {
  font-family: 'JostLight';
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}

.btn {
  @extend %reset-button;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'JostLight';
  font-size: 18px;
  line-height: 27px;

  & span {
    margin-right: 10px;
  }
}
