@import '@common';

.container {
  @extend %landing-wrapper;
  display: flex;
  flex-wrap: wrap;
  height: 634px;

  &_content {
    width: 50%;
    padding: 40px 16px 40px 0;
  }

  &_img {
    min-width: 600px;
    max-width: 900px;
    height: 800px;
    width: 50%;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.content {
  &_title {
    font-family: 'DM Serif Display';
    font-size: 50px;
    line-height: 65px;
  }

  &_text {
    margin-top: 42px;
    font-family: 'JostLight';
    font-size: 22px;
    line-height: 33px;
    padding-right: 40px;
    max-width: 900px;
  }

  &_operations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 30px;
  }
}

.img {
  border-radius: 0 326px 0 123px;
}

@media (max-width: 1440px) {
  .container {
    flex-direction: column;
    height: 100%;
    align-items: center;

    &_content {
      width: 100%;
      text-align: center;
    }

    &_img {
      display: none;
    }
  }

  .content {
    &_text {
      padding: 0;
      max-width: none;
    }

    &_call {
      margin-right: 40px;
    }

    &_operations {
      flex-direction: row;
      align-items: center;
      height: auto;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 747px) {
  .container {
    margin: 10px 50px;
  }

  .content {
    &_title {
      font-size: 25px;
      line-height: 35px;
    }

    &_text {
      font-size: 22px;
    }

    &_call {
      margin-bottom: 40px;
    }
  }
}