@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  src: url('@/assets/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  src: url('@/assets/fonts/Jost-Regular.ttf') format('truetype');
}
