$color-primary: #CDA274;
$color-gold-light-300: #FBECA9;
$color-gray-light-100: #F4F0EC;
$color-gray-300: #4D5053;
$color-black-300: #292F36;
$color-white: #FFFFFF;

$breakpoint930px: 930px;
$breakpoint620px: 620px;
$breakpoint400px: 400px;