@import '@common';

.img {
  height: 90vh;
  width: 100vw;

  &_container {
    position: relative;
  }
}

.content {
  &_container {
    position: absolute;
    top: 22%;
    left: 12%;
    max-width: 595px;
  }

  &_top {
    font-family: 'DM Serif Display';
    font-size: 70px;
    font-weight: 400;
    letter-spacing: .22px;
    line-height: 86px;
  }

  &_bottom {
    margin-top: 16px;
    font-family: 'JostLight';
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: $color-gray-300;
  }
}

.btn {
  margin-top: 32px;
}

@media (max-width: $breakpoint930px) {
  .content {
    &_container {
      max-width: 395px;
    }

    &_top {
      font-size: 42px;
      line-height: 46px;
    }

    &_bottom {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

@media (max-width: $breakpoint620px) {
  .content {
    &_container {
      max-width: 288px;
    }

    &_top {
      font-size: 38px;
      line-height: 42px;
    }

    &_bottom {
      font-size: 14px;
      line-height: 16px;
      margin-top: 28px;
    }
  }
}