@import '@common';

.container {
  @extend %landing-wrapper;
  background-color: $color-gray-light-100;
  border-radius: 70px;
  padding: 100px 50px 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'DM Serif Display';
  font-size: 45px;
  line-height: 58px;
  width: 479px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 45px;
  width: 100%;
}

@media (max-width: 766px) {
  .container {
    margin: 100px 20px;
  }
}

@media (max-width: 572px) {
  .container {
    padding: 50px 20px;
  }

  .title {
    font-size: 25px;
    line-height: 30px;
    width: 100%;
  }

  .cards {
    margin-top: 20px;
  }
}
